<div class="row">
	<div class="column one-third info-box">
		<div class="info-box">
			<div class="label">
				ip
			</div>
			<div class="value">
				{{ip}}
			</div>
		</div>
	</div>
	<div class="column one-third info-box">
		<div class="info-box">
			<div class="label">
				browser
			</div>
			<div class="value">
				{{browser}}
			</div>
		</div>
	</div>
	<div class="column one-third info-box">
		<div class="info-box">
			<div class="label">
				os
			</div>
			<div class="value">
				{{os}}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<code>{{ua}}</code>
</div>
