@import "normalize";
@import "skeleton";

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 3rem;
}

.header {
	border-bottom: 1px solid #ddd;
	margin-bottom: 3rem;

	.logo {
		display: block;
		font-size: 2.5rem;
		padding: 1rem;
		color: #2D82D5;
	}
}

.info-box {
	.label {
		text-transform: uppercase;
		color: #999;
		font-size: 1.2rem;
	}

	.value {
		font-size: 2rem;
	}
}

.ua-raw {
	white-space: pre-wrap;
}

.footer {
	box-sizing: border-box;
	position: absolute;
	text-align: center;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 0.5rem;
	font-size: 1.2rem;
}